html, body {
    overflow-x: hidden;
}

#nav_main{
    background-color: #121113;
}

.nav-link{
    color: #828080;
    font-family:  'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
}

#search:hover{

    border: 1px solid #00cc66;
    background-color: #121113;
    color: #ffffff;
    padding: 5px 10px;

}

.linha{
    display: flex;
    justify-content: center;
    flex-direction: row ;
}

#filme_principal{
   margin: 0;
   padding: 0;
}

.btn_transparente{
    
    background-color: rgba(18, 17, 19, 0.5); 
    color: #f8fcff;
    margin: 5px;
    border-style: none;
    text-align: center;

    
    
}

#carrosel{
    background-color: #121113;
    height: 400px;
    padding-top: 50px;
}

.poster{
    width: 200px;
    height: 295px;
    position: absolute;
    margin: 5px;
}


#left, #right{
    
    background-color: rgba(138, 129, 148, 0.5);
    color:#f8fcff;
    border-style: none;
    height: 200px;
    width: 70px;
    visibility: hidden;


}

select{
    background-color: transparent;
    border-style: none;
    
}

.poster_col{
    margin-left: -20px;
    position: absolute;
}

.poster:hover{
    border-color: aqua;
    border-style: groove;
}

#dropdown_inicio{
    background-color: rgba(138, 129, 148, 0.5);
  
}

.filme_descrição{
    background-color: rgba(138, 129, 148, 0.5);
    position: absolute;    
    width: 200px;
    height: 140px;
    margin-top: 60px;
    text-align: left;
    display: none;
}

.filme_descrição p{
    width: 60%;
    height: auto;
    text-transform: uppercase;
    font-family: geobold;
    font-size: large;
    font-weight: bolder;
    margin-left: 4px;
    color: #121113;
    font-style: oblique;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    
    
}

